* {
  list-style-type: none;
  text-decoration: none;
}

.toast {
  display: none;
  position: fixed;
  top: 7rem;
  left: 35.5%;
  background-color: #29d952;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  animation: fadeIn 3s ease-in-out, slideUp 0.5s ease-in-out forwards, fadeOut 3s ease-in-out 3.5s forwards; 
}
@keyframes fadeIn {
  0% {
    opacity: 0; /* شروع با شفافیت 0.1 */
  }
  40% {
    opacity: 0.4; /* بعد از نصف زمان، شفافیت 0.7 */
  }
  70% {
    opacity: 0.8; /* پایان با شفافیت 1 */
  }
  40% {
    opacity: 0.7; /* پایان با شفافیت 1 */
  }
  100% {
    opacity: 1; /* پایان با شفافیت 1 */
  }

}

@keyframes slideUp {
  from {
    transform: translateY(-500%);
  }
  to {
    transform: translateY(20%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1; /* شروع با شفافیت 1 */
  }
  30% {
    opacity: 0.8; /* پایان با شفافیت 0 */
  }
  50% {
    opacity: 0.4; /* پایان با شفافیت 0 */
  }
  70% {
       opacity: 0.2;
  }
  100% {
   transform: translateY(-500%);
  }
}
.show {
  display: flex;
  align-items: center;
  opacity: 1;
}
.checkmark-stem,
.checkmark-kick {
  background-color: white;
}
.failure {
  background-color: red;
}
