* {
  list-style-type: none;
  text-decoration: none;
}

.toast {
  display: none;
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.show {
  display: flex;
  align-items: center;
  opacity: 1;
}
.checkmark-stem,
.checkmark-kick {
  background-color: white;
}
.failure {
  background-color: red;
}
